<html>
<head>
<h1>Nabanita's ML Projects</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/index_cs.css') }}">
</head>
<body>
ML Project Iris Flower Prediction!
<button onclick="inputTableFunction()">Input Table</button>
<button onclick="targetTableFunction()">Target Table</button>

<div class="view-table">
<div class="detailed-table" id="iris_input_table" style="display:none">
{{ iris_input_table|safe }}
</div>

<div class="detailed-table" id="iris_target_table" style="display:none">
  {{ iris_target_table|safe }}
  </div>
</div>
<script type="text/javascript" src="{{ url_for('.static', filename='js/index_js.js')}}"></script>
</body>
</html>